* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-size: 10px;
}

body {
  background-image: url(../img/spaceBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}

.flex,
.wrapper,
.planetInfo,
.right,
.planetFactsWrapper,
.planetRow {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100vw;
  text-align: center;

  align-items: center;
}

.wrapper > h1 {
  padding: 150px 100px;
}

h1 {
  font-size: 3rem;
}

.planetRow {
  width: 90%;
  align-items: center;
}

.planetWrapper {
  max-width: 700px;
  width: 80%;
  background-color: #3c3d63;
  border-radius: 8px;
  margin-bottom: 100px;
  padding: 25px;
  box-shadow: -7px 7px 5px 0px rgba(255, 255, 255, 0.253);
}

.planetWrapper > img {
  margin-top: -100px;
}

.planetInfo {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.planetInfo > span {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.479);
}

.right {
  text-align: left;
  gap: 10px;
}

.right > span {
  font-size: 3rem;
  font-weight: bold;
}

.right a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fbffd2;
}

.right a:hover {
  color: rgb(143, 143, 255);
}

.planetFactsWrapper {
  min-height: 100vh;
  height: fit-content;
  text-align: left;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 25px;
  background-position: center;
  background-size: cover;
}

.planetFactsWrapper img {
  width: 350px;
}

.planetFactsWrapper h1 {
  margin-bottom: 25px;
}

.planetFactsWrapper > p {
  font-size: 2.2rem;
  width: 90%;
  padding: 15px;
  background-color: #3c3d636e;
  border-radius: 8px;
}

.backBtn {
  background-color: #3c3d63;
  box-shadow: -4px 5px 0.5px 0px rgba(255, 255, 255, 0.315);

  font-size: 1.75rem;
  width: 25%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  align-self: flex-start;
  margin-top: 50px;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 5rem;
  }

  .wrapper > h1 {
    padding-bottom: 200px;
  }

  .planetWrapper {
    margin-bottom: 200px;
  }

  .planetWrapper > img {
    margin-top: -150px;
    width: 300px;
  }

  .planetInfo > span {
    font-size: 8rem;
  }

  .right > span {
    font-size: 3.5rem;
  }

  .right a {
    font-size: 2rem;
  }

  .planetFactsWrapper img {
    width: 400px;
  }

  .planetFactsWrapper h1 {
    font-size: 5.5rem;
  }

  .planetFactsWrapper > p {
    width: 75%;
    font-size: 2.5rem;
  }

  .backBtn:hover {
    color: rgb(183, 183, 255);
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 6rem;
  }

  .planetRow {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 50px;
  }
  .planetWrapper {
    width: 45%;
  }

  .planetFactsWrapper > p {
    width: 50%;
    font-size: 2.7rem;
  }

  .backBtn {
    max-width: 250px;
    font-size: 2rem;
  }

  .backBtn:hover {
    color: rgb(183, 183, 255);
    font-size: 2.1rem;
  }
}
